html, body {
	margin: 0;
	width: 100vw;
	height: 100vh;
}

.flex-container{
	display: flex;	
	width: 100%;
	height: 100%;
}

.flex-child {
	display: flex;
	flex: 1;
	border: 2px solid yellow;
}

.left-panel {
	flex: 3;
	background-color: red;
}

.right-panel {
	flex: 4;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.right-panel-container {
	flex: 1;
	width: 90%;
	border: 2px solid blue;

	flex-direction: column;
}

.right-panel-container-child {
	flex: 1 1 0;
	border: 2px solid magenta;
}

.intro-text {
	height: 400px;
}