:root{
    --color: #e6007e;
    --txt: rgb(26, 21, 21);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--txt);

    outline: 1px solid red;
}

html, body {
	width: 100vw;
	height: 100vh;
}

.flex-container{
	display: flex;	
	width: 100%;
	height: 100%;
}

.flex-child {
	display: flex;
	flex: 1;
}

.left-panel {
	flex: 3;
	background-image: url("leaf-bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.right-panel {
	flex: 4;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.right-panel-container {
	flex: 1;
	width: 80%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.right-panel-container-child {
	/* outline: 2px solid blue; */
}

.intro-text {
	font-size: 28px;
	font-weight: bold;
}

/* FORM */

.form {
	display: flex;
	flex-wrap: wrap;
}

.form-field {
	flex: 1;
}

.form-field > label {
	text-transform: uppercase;
}

.form-field > input {

}

/* LOG IN TEXT */

.login-text {
	display: flex;
	gap: 5px;
}